@page "/"
@using MyPermutationSolution.Client.Components

<PageTitle>Next Permutation Excercise</PageTitle>

<div class="container text-center">
<h1>Next Permutation Excercise</h1>

<Permutation></Permutation> 


</div>